
<div class="globalNavContainer">
	<div class="brandingContainer">
		<img src="/assets/images/menuLogo.png" class="cnnMainLogo"/>
		<img src="{{cobrandingURL}}" class="cobrandingMainLogo" ng-class="{'hidden': cobrandingURL == null}"/>
	</div>
	<div class="navigationContainer fontNavigation">
		<div id={{navItems.featured.id}} focusable data-focusable-depth="{{navDepth.featured}}" class="navItem" ng-class="{'selectedNav': selectedGlobalNavItem === navItems.featured.state}"  on-focused="onFocus('{{navItems.featured.state}}')" on-blurred="onBlur()"  data-focusable-next-focus-left="null" data-focusable-next-focus-up="null">{{navItems.featured.defaultName}}</div>
		<div id={{navItems.live.id}} focusable data-focusable-depth="{{navDepth.live}}" class="navItem" ng-class="{'selectedNav': selectedGlobalNavItem === navItems.live.state}" on-focused="onFocus('{{navItems.live.state}}')" on-blurred="onBlur()" data-focusable-next-focus-up="null">{{navItems.live.defaultName}}</div>
		<div id={{navItems.shows.id}} focusable data-focusable-depth="{{navDepth.shows}}" class="navItem" ng-class="{'selectedNav': selectedGlobalNavItem === navItems.shows.state}" on-focused="onFocus('{{navItems.shows.state}}')" on-blurred="onBlur()" data-focusable-next-focus-up="null">{{navItems.shows.defaultName}}</div>
		<div id={{navItems.settings.id}} focusable data-focusable-depth="{{navDepth.settings}}" data-focusable-name="globalSettings" class="navItem" ng-class="{'selectedNav': selectedGlobalNavItem === navItems.settings.state}" on-focused="onFocus('{{navItems.settings.state}}')" on-blurred="onBlur()" data-focusable-next-focus-up="null" data-focusable-next-focus-right="null" data-focusable-next-focus-down="signIn">{{navItems.settings.defaultName}}</div>
	</div>
</div>