.settings-container {
  position: absolute;
  width: 1920;
  height: 1080px;
  background-color: #13161E;
  background-image: url('../images/cnnDarkBg.png'); 
  z-index: 80;
  margin: 0px 0px 0px 0px; 
  -webkit-background-size: cover;
  background-size: cover;


  .settings-overlay {
    position: absolute;
    margin: 0px;
    background-color: rgba(100, 100, 100, 0.17);
    width: 640px;
    height: 1080px;
    padding-top: 0px;
    z-index:100;

  }
     
}

  nav
{
  text-align: left;
  width:480px;
  ul
  {
    list-style: none;
    padding: 2em;

    li
    {
      display: inline-block;
    }
  }
}



.build-number {
  font-size:14px; 
  margin:200px 20px 0 150px;
}

.settings-content {
  font-size: 14px;

}

.settings-details {
  color: $white;
  position: absolute;
  margin: 170px 13px 0px 800px;
  float: right;
  width: 910px;
  height: 800px;
  z-index: 90;
}



.settings-navigation{
  position: relative;
  display: block;
  float: left;
  height: 100%;
  padding-top: 340px;
  width: 620px;

  nav {
    li {
      &:last-child {
        margin-bottom: 60px;
      }
    }
  }
}

.settings-child-content{
  position: relative;
  display: block;
  float: left;
  height: 100%;
  padding-top: 140px;
  width: 1920px-620px;
}

.settingsMenuItem {
  position: relatvie;
  margin-left: 60px;
  width: 500px;
  height: 76px;
  border-radius: 10px;

  a {
    position: absolute;
    text-decoration: none;
    line-height: 45px;
    margin: 15px 0 0 30px;
    font-size: 36px;
    font-weight: 800;
    color: white;
  }

  &.focused {
    background: white;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -webkit-transition: -webkit-transform .25s;
    
    a {
      color: #1A1A1A;
    }
  }
}

.settingsSelected {
  background: #404040;
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  
  a {
    color: #737373;
  }
}

