.liveContentWrapper {
    width: 1920px;
    height: 1080px;
    background: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    
    .liveListWrapper {
    	position: absolute;
        top: 770px;
    }
    
    .unauthenticateUserMessageLive {
    	position: absolute;
		top: 400px;
        padding-left: 480px;
        padding-right: 480px;
        text-align: center;
    }
}
