<div class="list-area" ng-class="{'list-fadeout': currentCategory !== listCategory}">
    <div class="title font-label" ng-class="{'title-opacity': currentCategory !== listCategory}">{{title}}</div>
    <caph-list id="list-{{listCategory}}" container-class="list-container" wrapper-class="list-scroll-wrapper" items="item in dataCategory[listCategory]" on-scroll-start="onScrollStart($context)" on-scroll-finish="onScrollFinish($context)" mouse-scroll-area-size="40">
        <div id="item-{{$index}}" class="item item-playlist" focusable="{{focusable}}" on-focused="focus($event, listCategory, this)" on-blurred="blur($event, listCategory, this)" on-selected="selected($event, listCategory, this)">
            <div class="loader" ng-show="item.loaded === false"></div>
            <div class="content" ng-hide="item.loaded === false" style="background: url({{item.photo_urls[0].url || ''}});-webkit-background-size:100% 100%;">
                <div class="playlist-text font-label"><div class="font-info">Small Item</div>{{item.name}}</div>
            </div>
        </div>
    </caph-list>
</div>