.listArea {
    width: 1920px;
    height: 345px;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    margin-bottom: 80px;

    .title {
        width: inherit;
        height: 28px;
        margin: 0 0 25px 75px;
    }

    .listContainer {
        position: absolute;
        width: 1920px;
        height: 355px;
        margin-top: 10px;
        margin-left: 75px;
    }

    .listScrollWrapper {
        left: 0px;
    }
}

.item {
    position: relative;
    width: 400px;
    height: 325px;
    margin: 0 50px 30px 0;
    background-color: $darkergrey;

    .itemContainer {
        width: 400px;
        background-color: $darkergrey;
        -webkit-transition: .25s ease-in;
    }

    &.focused .itemContainer {
        background-color: $darkergrey;
        border: $white 5px solid;
        border-radius: 5px;
        -webkit-transition: .25s ease-out;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
    }

    .content {
        max-width: 440px;
        height: 225px;
        background-size: contain;
        background-position: center;

        .duration {
            position: absolute;
            top: 185px;
            right: 0px;
            width: 100px;
            height: 45px;
            text-align: center;
            line-height: 40px;
            color: $white !important;
            background-color: $darkergrey;
        }
    }

    .itemDescription {
        width: inherit;
        height: 100px;
        padding: 5px;
        box-sizing: border-box;
    }
}

.categoriesListArea {
    width: 1920px;
    height: 240px;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    margin-bottom: 80px;

    .categoriesTitle {
        width: inherit;
        height: 28px;
        margin: 0 0 25px 75px;
    }

    .categoriesListContainer {
        position: absolute;
        width: 1920px;
        height: 240px;
        margin-top: 10px;
        margin-left: 75px;
    }

    .listScrollWrapper {
        left: 0px;
    }
}

.categoryItem {
    position: relative;
    width: 403px;
    height: 227px;
    margin: 0 50px 0 0;
    border: 5px solid transparent;

    .categoryContent {
        width: auto;
        height: 217px;
        background-size: contain;
        background-position: center;
        -webkit-transition: .25s ease-in;
    }

    &.focused .categoryContent {
        border-radius: 5px;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -webkit-transition: .25s ease-out;
        border: 5px solid $white;
    }
}

.categoryListArea {
    margin-left: 80px;
}

.liveListArea {
    width: 1920px;
    height: 236px;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    margin-bottom: 80px;

    .liveTitle {
        width: inherit;
        height: 28px;
        margin: 0 0 25px 75px;
    }

    .liveListContainer {
        position: absolute;
        width: 1920px;
        height: 236px;
        margin-top: 10px;
        margin-left: 75px;
    }

    .listScrollWrapper {
        left: 0px;
    }
}

.liveItem {
    position: relative;
    width: 547px;
    height: 200px;
    margin: 0 50px 0 0;
    border: 5px solid transparent;

    .liveItemContainer {
        position: absolute;
    	height: 200px;
        width: 547px;
        -webkit-transition: .25s ease-in;
    }

    &.focused .liveItemContainer {
        border-radius: 5px;
        border: 5px solid $white;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -webkit-transition: .25s ease-out;
    }

    .liveContent {
        width: auto;
        height: 200px;
        background-size: contain;
        background-position: center;
    }

    .liveIconWrapper {
        position: absolute;
        left: 10px;
        top: 165px;
        
        .liveRedIcon {
            float: left;
            width: 27px;
        	height: 27px;
        	background-image: url("../images/redButton.png");
        }

        .liveTextIcon {
            float: left;
            width: 112px;
        	height: 32px;
        	margin-left: 10px;
        	background-image: url("../images/liveMenuButton.png");
        }
    }

    .liveChannelLock {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 15px;
        height: 20px;
        background-image: url("../images/lockIcon.png");
    }
}


.seriesListArea {
    width: 1920px;
    height: 390px;
    -webkit-transform: translateZ(0);
    -webkit-transform: translate3d(0, 0, 0);
    opacity: 1;
    margin-bottom: 80px;

    .seriesTitle {
        width: inherit;
        height: 28px;
        margin: 0 0 25px 75px;
    }

    .seriesListContainer {
        position: absolute;
        width: 1920px;
        height: 390px;
        margin-top: 10px;
        margin-left: 75px;
    }

    .listScrollWrapper {
        left: 0px;
    }
}

.seriesGridArea {
    margin-bottom: 30px !important;
}

.seriesItem {
    position: relative;
    width: 251.3px;
    margin: 0 35px 0 0;
    border: 5px solid transparent;

    .seriesContent {
        width: auto;
        height: 368px;
        background-size: contain;
        background-position: center;
        -webkit-transition: .25s ease-in;
    }

    &.focused .seriesContent {
        border-radius: 5px;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        -webkit-transition: .25s ease-out;
        border: 5px solid $white;
    }
}

.nowPlayingContainer {
	position: absolute;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	top: 185px;
	height: 40px;
	width: 260px;
    background-color: $red;

    .nowplayingtext {
        text-transform: uppercase;
        color: $white !important;
    }

    .nowPlayingImg {
        height: 30px;
        width: 30px;
        padding-left: 3px;
    }
}

.vodListArea {
	position: relative;
	height: 0px;
	width: 1920px;
	padding-top: 10px;
	-webkit-animation: episodesOpen .5s forwards;
	-webkit-transition: background .07s;
    top: -30px;
    z-index: -5;

	.seriesVods {
        position: relative;
        z-index: 2;
		margin: 20px 0 0 75px;

		.vodContainer {
			position: absolute;
			display: -webkit-flex;
			-webkit-align-items: center;
			height: 300px;
			width: 1920px;

			.episodeContainer {
				width: 400px;
				height: 300px;
				margin-right: 40px;

				.vodItem {
					position: relative;
					height: 225px;
					width: 400px;
					-webkit-transition: .25s ease-in;

                    .vodLock {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        width: 15px;
                        height: 20px;
                        background-image: url("../images/lockIcon.png");
                    }
				}

                &.focused .vodItem {
                        border: 5px white solid;
                        background: white;
                        border-radius: 5px;
                        -webkit-transform: scale3d(1.1, 1.1, 1.1);
                        -webkit-transition: .25s ease-out;
                }
			}
		}

		.episodeTitle {
			position: relative;
			top: 20px;
		}

		.seasonTitle {
			font-size: 48px;
		}

		.episodeDescription {
			position: absolute;
			margin-top: 20px;
			width: 500px;
			font-weight: 800;
		}

		.seasonNumber {
			margin-bottom: 30px;
		}

		.listScrollWrapper {
		    left: 0px;
		}
	}

    .vodBackground {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

	@keyframes episodesOpen {
		0% 	 { height: 0px;   }
		100% { height: 1000px; }
	}
}

.selectedSeries {
    margin-bottom: 50px !important;
    .seriesContent {
        border-bottom: 5px $white solid !important;
    }
}
.selectedSeries::after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #e6e6e6;
    border-width: 25px;
    margin-left: -25px;
    margin-top: 0px;
}

.nowPlayingImg {
    height: 30px;
    width: 30px;
    padding-left: 3px;
}

.nowPlayingLive {
    top: 0px !important;
}
