<div class="liveListArea listItem" >
  <div class="liveTitle fontListTitle">{{title}}</div>
  <caph-list id="list-{{listCategory}}" container-class="liveListContainer" wrapper-class="listScrollWrapper" items="item in listData" loop="false">
    <div id="{{item.titleID}}" class="liveItem fontListText"  focusable data-focusable-depth="{{listDepth}}" data-focusable-initial-focus="{{$index === 0}}" on-focused="focus($event, listCategory, this, $index, $first, $last)"  on-blurred="blur($event, listCategory, this)" on-selected="selectLive($event, this, $index)">
      <div class="liveItemContainer">
        <div ng-if="nowPlayingId === item.titleID" class="nowPlayingContainer nowPlayingLive"><p class="nowplayingtext">Now Playing</p><img class="nowPlayingImg" src="assets/images/equalizer_Samsung_nowplaying.gif"></div>
        <div class="liveContent" style="background: url({{item.imageUrl | imageTransform: '':'h_204' || ''}}); background-size: cover;"></div>
        <div class="liveIconWrapper">
          <div class="liveRedIcon"></div>
          <div class="liveTextIcon"></div>
        </div>
        <div ng-hide="isAuthenticated" class="liveChannelLock"></div>
      </div>
    </div>
  </caph-list>
</div>
