<div class="infoModalbox box" class="outerInfoModalContainer" ng-class="classname"> 
	<div align="center" class="infoModalContainer">
        <div class="informationContainer">
            <div class="informationTitleContainer" ng-hide="title == null">
                <span class="informationTitle">{{title}}</span>
            </div>
            <div class="informationMessageContainer">
                <span class="informationMessage">{{message}}</span>
            </div>
        </div>
        <div class="informationOptionsContainer">
            <div class="reg-buttons" id="">
                <button id="{{dismissButtonID}}" focusable data-focusable-depth="{{focusLevel}}" data-focusable-group="{{informationModalButtonGroupName}}" data-focusable-name="{{logoutButtonName}}" data-focusable-next-focus-up="null" data-focusable-next-focus-down="null" data-focusable-next-focus-right="null" data-focusable-next-focus-left="null" on-focused="onFocusButton('{{dismissButtonID}}')" on-blurred="onBlurButton('{{dismissButtonID}}')" on-selected="dismiss()" ng-class="">{{dismissText}}</button> 
            </div>
        </div>
	</div>
</div>