<div class='masterContainer'>
	<div id='masterHeader' class='masterHeader'>
		<global-navigation setTimer="setglobalNavMainContentTimer()"></global-navigation>
	</div>
	<div id='mainContent' ui-view='content' class='mainContent'></div>
	<div id='modalContainer' class='modalContainer hidden'>
	</div>
	<player></player>
	<div class="playerControlsOuterContainer">
		<player-controls scrubberbarwidth='1485'></player-controls>
	</div>
	<div id='videoContentLoading' class='videoContentLoading' ng-if='displayVideoContentLoading'>
		<div class='loadingSpinner'></div>
	</div>
	<div id='mainContentLoading' class='mainContentLoading' ng-if='displayMainContentLoading'>
		<div class='loadingSpinner'></div>
	</div>
</div>
