.ui-header{
  text-align:center;
  font-family:Arial;

}

.ui-title{
text-align:center;
	
}

.copy-text {
 font-size: 1.2em;
 font-family:Arial;
 text-align:left;
 margin-left:90px; 
 overflow-y:scroll; 
 line-height: 1.5;
 height:70%; 
 width:80%;

}

.ui-content{
 font-size: 1.5em;	

}
