<div>
	<div class="settings-container">
		<div class="settings-overlay">
			<div class="content">
				<div class="settings-content">
					<div class="settings-navigation">
						<nav>
							<ul>
								<li id="settingsSignIn" style="margin-bottom:15px;">
									<a href="#" id="signInLink" title="Sign In" ng-class="{'active' :transition=='slide-top'}" focusable data-focusable-depth="3" data-focusable-group="settingsNav" data-focusable-name="signIn" data-focusable-next-focus-up="globalSettings" data-focusable-next-focus-down="accessibility" data-focusable-next-focus-right="signinbtn" on-focused="onFocus('signIn')" on-blurred="onBlur()" on-selected="nav('signIn')"> 
										Sign In
									</a>
								</li>
								<br/>
								<li id="settingsMyCNN" style="margin-bottom:15px;">
									<a href="#" id="accessibilityLink" title="right" ng-class="{'active':transition=='slide-top'}" focusable data-focusable-depth="3" data-focusable-group="settingsNav" data-focusable-name="accessibility" data-focusable-next-focus-up="signIn" data-focusable-next-focus-down="privacyPolicy" data-focusable-next-focus-right="null" on-focused="onFocus('accessibility')" on-blurred="onBlur()" on-selected="nav('accessibility')">
										My CNN
									</a>
								</li>
								<br/>
								<li id="settingsPrivacyPolicy" style="margin-bottom:15px;">
									<a href="#" id="privacyPolicyLink" title="top" ng-class="{'active':transition=='slide-top'}" focusable data-focusable-depth="3" data-focusable-group="settingsNav" data-focusable-name="privacyPolicy" data-focusable-next-focus-up="accessibility" data-focusable-next-focus-down="termsConditions" data-focusable-next-focus-right="null" on-focused="onFocus('privacyPolicy')" on-blurred="onBlur()" on-selected="nav('privacyPolicy')">
										Privacy Policy
									</a>
								</li>
								<br/>
								<li id="settingsTermsAndConditions" style="margin-bottom:15px;">
									<a href="#" id="termsConditionsLink" title="bottom" ng-class="{'active':transition=='slide-top'}" focusable data-focusable-depth="3" data-focusable-group="settingsNav" data-focusable-name="termsConditions" data-focusable-next-focus-up="privacyPolicy" data-focusable-next-focus-down="null" data-focusable-next-focus-right="null" on-focused="onFocus('termsConditions')" on-blurred="onBlur()" on-selected="nav('termsConditions')">
										Terms & Conditions
									</a>
								</li>
							</ul>
						</nav>
						<div class="build-details">
							<span class="number">
								<!-- {{sttc.buildNumber}} -->Build V_.10
							</span>
							<span class="env">
								<!-- {{sttc.buildEnv}} -->
							</span>
							<span class="serverEnv" ng-if="sttc.serverEnv != 'prod'">
								<!-- {{sttc.serverEnv}} -->
							</span>
						</div>
					</div>
					<div ui-view ng-class="transition" class="settings-child-content">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
