@font-face {
  font-family: $CNNSansDisplay;
  src:  url('../fonts/CNNSansDisplayW04-Regular.woff2') format('woff2'),
        url('../fonts/CNNSansDisplayW04-Regular.woff') format('woff');

   font-family: $CNNSansDisplayLight;
   src:  url('../fonts/CNNSans-Light.ttf') format('ttf'),
         url('../fonts/CNNSansDisplayW04-Light.woff2') format('woff2'),
         url('../fonts/CNNSansDisplayW04-Light.woff') format('woff');
}

.fontNavigation {
    font: 34px $CNNSansDisplayLight;
}

.fontNavigationFocus {
    font-weight: bold;
}

.fontListText {
	font: 24px $CNNSansDisplayLight;
}

.fontListTitle {
	font: 34px $CNNSansDisplay;
	font-weight: bold;
}

.fontMessageText {
	font: 34px $CNNSansDisplay;
}