$screenMinWidth: 1920px;
$screenMinHeight: 1080px;

$font-size: 30px;
$line-height: 1.35em;

/* colors */
$white: rgb(230,230,230);
$purewhite: rgb(255, 255, 255);
$blue: rgb(0,109,183);
$lightblue: rgb(138, 162, 184);
$skyblue: rgb(70, 166, 214);
$grey: rgb(89,89,89);
$darkgrey: rgb(38, 38, 38);
$darkergrey: rgb(26, 26, 26);
$greyborder: rgb(64, 64, 64);
$black: rgb(0,0,0);
$red: rgb(142, 0, 17);

/* font */
$CNNSansDisplay: CNNSansDisplay;
$CNNSansDisplayLight: CNNSansDisplayLight;
