<div id="move-container" class="move-container">
    <div class="cnn-logo"></div>
    
    <div id="top-menu" class="top-menu font-caption">
    	<!--  <div id="featured" focusable="{depth: DEPTH.INDEX}" class="menu-item"  on-selected="changeDisplayDepth($event, 1)">Featured</div> -->
    	<a focusable="{depth: DEPTH.INDEX}" href="http://demo.theoplayer.com/test-hls-mpeg-dash-stream">THEO PLAYER</a>
    	<div id="search" focusable="{depth: DEPTH.INDEX}" class="menu-item" on-selected="changeDisplayDepth($event, 2)">Search</div>	
    	<div id="settings" focusable="{depth: DEPTH.INDEX}" class="menu-item">Settings</div>	
    </div>
    
   
<!-- page: INDEX (LIST) -->
<div class="list-wrapper page" ng-class="{'page-fade-in': currentDepth === DEPTH.INDEX}" ng-hide="currentDepth === DEPTH.DETAIL || currentDepth === DEPTH.PLAYER">
    <div id="list-category" class="list-category">
        <play-list id="{{CATEGORY.COLORS}}" title="Today's Top News"></play-list>
        <play-list id="{{CATEGORY.ALPHABETS}}" title="Most Popular"></play-list>
        <play-list id="{{CATEGORY.NUMBERS}}" title="The Road to the White House"></play-list>
    </div>
</div>
   
    <div class="search-wrapper font-caption" ng-show="currentDepth === DEPTH.DETAIL">
	    <div class="ui-listview" id="SearchPage">
	    	<div class="search-bar"> 
		     	<div>
		     		<input id="search-name" type="text" value="Search for CNNGO Videos"></input>
		     	</div>
			</div>
	    	<div id="list-categories" class="list-categories">
	        	<play-list id="{{CATEGORY.SEARCH}}" title="Search Results"></play-list>       
	    	</div>
	    </div>
    </div>
    
</div>