<div class="showsContentWrapper page">
  <div id="listContainer" class="showsListContainer">
    <div ng-hide="isPlayingEpisode" class="showsBackground" style="background: linear-gradient( rgba(0, 0, 0, .1), rgba(0, 0, 0, 1) ), url('{{currentShowsBackground}}'); background-size: 100%;">
      <div class="showsMetaDataContainer">
        <h1 class="showsTitle fontListTitle" ng-if="currentShowsTitle !== undefined">{{currentShowsTitle}}</h1>
        <p class="showsSeason fontListTitle" ng-if="currentShowsSeason !== undefined">{{currentShowsSeason}}</p>
        <p class="showsDescription fontListText" ng-if="currentShowsDescription !== undefined">{{currentShowsDescription | limitTo : 450 }}{{currentShowsDescription.length > 450 ? '...' : ''}}</p>
      </div>
    </div>
    <div class="blankWindow"></div>
  </div>
</div>


