<div class="listArea listItem" >
  <div class="title fontListTitle">{{title}}</div>
  <caph-list id="list-{{listCategory}}" container-class="listContainer" wrapper-class="listScrollWrapper" items="item in listData" loop="false">
    <div id="{{item.id}}" class="item fontListText"  focusable data-focusable-depth="{{listDepth}}" data-focusable-initial-focus="{{$index === 0}}" on-focused="focus($event, listCategory, this, $index, $first, $last)"  on-blurred="blur($event, listCategory, this)" on-selected="select($event, listCategory, this, $index)">
      <div class="itemContainer">
        <div ng-if="nowPlayingId === item.id" class="nowPlayingContainer"><p class="nowplayingtext">Now Playing</p><img class="nowPlayingImg" src="assets/images/equalizer_Samsung_nowplaying.gif"></div>
        <div class="content" style="background: url({{item.imageUrl | imageTransform: 'w_440':'h_225' ||  ''}}); background-size: 100% 100%;">
          <div class="duration">
            <div ng-bind="item.totalRunTime | duration"></div>
          </div>
        </div>
        <div class="itemDescription" ng-bind="item.title"></div>
      </div>
    </div>
  </caph-list>
</div>
