<div class="listArea listItem inline">
  <div id="list-{{categoryName}}" class="categoryListArea">
    <div class="categoryTitle fontListTitle">{{categoryName}}</div>
    <div class="categoryList">
      <div ng-repeat="item in clips" id="{{item.id}}" class="item fontListText"  focusable data-focusable-depth="7" data-focusable-initial-focus="{{$index === 0}}" on-focused="focusCategory($event, this, $index, clips.length)"  on-blurred="blur($event, listCategory, this)" on-selected="select($event, categoryName, this, $index)">
        <div class="itemContainer">
          <div ng-if="nowPlayingId === item.id" class="nowPlayingContainer"><p class="nowplayingtext">Now Playing</p><img class="nowPlayingImg" src="assets/images/equalizer_Samsung_nowplaying.gif"></div>
          <div class="content" style="background: url({{item.imageUrl | imageTransform: 'w_440':'h_225' || ''}}); background-size: 100% 100%;">
            <div class="duration">
              <div>{{item.totalRunTime | duration}}</div>
            </div>
          </div>
          <div class="itemDescription">{{item.title}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
