.terms-content {
  margin-left: 78px;
  h1 {
    font-weight: bold;
    text-align:center;
  }

  h2 {
    font-weight: bold;
    text-align:center;
  }

  p {
    line-height:1.5;
    font-size: 1.5em;
    overflow-y: scroll;

  }
}