.cc-controls {
   float: left;
   margin: 64px 0 0 96px;
   width: 400px;

   button {
      width: 559px;
      height: 100px;
      color: white;
      margin-bottom: 20px;
      border: none;
      font-size: 26px;
      background: #1c1c1c;

      &.selected {
         outline: 4px solid $purewhite;
         outline-offset: -4px;
         background: #272727;
      }

      &.active {
         &:before {
            content: "";
            background: url("../images/checkmark.png") 0 0 no-repeat;
            width: 32px;
            height: 23px;
            position: absolute;
            left: 123px;
         }
      }

   }
}

.cc-content-wrapper {
   width: 1150px;
   height: 880px;
   margin: 64px 96px 0 96px;
   overflow: hidden;
   position: relative;
   float: right;

   .cc-content {
      position: absolute;
      font-size: 26px;
      line-height: 28px;
      top: 0;
      padding: 15px;
      white-space: pre-wrap;

      p {
         margin-bottom: 16px;
      }
   }

   &.selected {
      outline: 1px solid $purewhite;
   }
}

