.navigation-container {
	position: relative;
	width: 800px;
	height: 100px;
	margin-left: 180px;
}

.nav-item {
	float: left;
	margin-left: 130px;
	margin-top: 35px;
	
	&.focused {
		border-bottom: 5px solid $red;
	}
}





