<div class="navigation-container">
<div class="settingsNavigationContainer">
         <span style="width:100px" ui-sref=".signIn"><a href="">Sign&nbsp;In</a></span>
         <span style="width:100px" ui-sref=".accessibility"><a href="">MyCNN</a></span>
         <span style="width:100px" ui-sref=".privacyPolicy"><a href="">Privacy&nbsp;Policy</a></span>
         <span style="width:100px" ui-sref=".termsConditions"><a href="">Terms&nbsp;&amp;&nbsp;Conditions</a></span>
</div>
	  <div ui-view=""></div>
</div>
</div>

 
   
